@import url('../App.css');

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    padding: 1.3rem 0;
    position: relative;
}

.card-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.first-row {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.second-row {
    text-align: right;
}

.position,
.user-name {
    font-size: 16px;
    line-height: 21.6px;
}

.position,
.entry-text,
.whitelisted,
.number-whitelisted {
    font-family: var(--regular-font);
}

.user-name,
.entry-price,
.days-left {
    font-family: var(--bold-font);
}

.entry-text,
.days-left,
.number-whitelisted span {
    font-size: 14px;
    line-height: 18.9px;
}

.whitelisted,
.number-whitelisted {
    font-size: 12px;
    line-height: 16.2px;
    color: var(--gray);
}

.position,
.user-name,
.entry-text,
.number-whitelisted,
.days-left {
    color: var(--white)
}

.user-name,
.whitelisted {
    margin-bottom: .3rem;
}

.number-whitelisted {
    font-weight: 400;
}

.number-whitelisted span {
    font-weight: 600;
}

.entry {
    display: flex;
    align-items: center;
    gap: 6px;
}

.entry-img {
    width: 11px;
    height: 11px;
}