
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
}

.card-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.first-row {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.second-row {
    text-align: right;
}